@charset "UTF-8";
/* переменные */
/* примеси */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Lato", sans-serif;
}

.wrap {
  max-width: 1140px;
  width: 100%;
  outline: 1px solid red;
  margin: 0 auto;
}

.header {
  background-color: #222222;
  color: #fff;
  padding: 19px 0;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logosvgshka svg {
  fill: green;
}

.logosvg:hover svg {
  fill: rgb(251, 13, 13);
}

.header_right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header_search,
.header_menu {
  background-color: transparent;
  border: none;
  color: inherit;
  display: inline-block;
}

.header_icon {
  background-color: transparent;
  border: none;
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

.header_icon svg {
  fill: #f8f8f8;
}

.header_icon:hover svg {
  fill: #EF5B70;
  transition: fill 0.3s;
}

.main-nav-box {
  margin: 40px 0 0 0;
}

.main-nav-close {
  border: none;
  margin-right: 30px;
}

.main-nav {
  width: 232px;
  height: 765px;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;
  position: absolute;
  right: 0;
  top: 80px;
  color: #000;
  transition: 0.5s;
}

.main-nav-list {
  margin: 10px;
}

.submenu-list {
  margin: 10px;
}

.submenu-item {
  margin: 10px;
}

.main-nav-title {
  color: rgb(201, 37, 37);
  margin: 90px 0 10px 0;
}

.submenu-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.main-nav-link {
  color: #EF5B70;
  margin: 10px 0;
}

.main-nav-list, .submenu-list {
  list-style-type: none;
}

.main-nav-link, .submenu-link {
  text-decoration: none;
}

.main-nav-close {
  display: none;
}

/* tablet */
@media (max-width: 1200px) {
  .wrap {
    width: 768px;
  }
}
/* mobile */
@media (max-width: 797px) {
  .wrap {
    width: 360px;
  }
  .heading-registration, .heading-buscket {
    display: none;
  }
}
.brand {
  background: #F1E4E6;
  margin: 0 0 65px 0;
}

.brand-wrap {
  background: url(/img/promo_men.png) no-repeat -220px;
  min-height: 764px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.brand-title {
  margin: 0 101px 91px 0;
  padding: 0 0 0 16px;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  border-left: 12px solid #EF5B70;
}

.brand-text {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
}

.brand-decor {
  color: #F16D7F;
}

/* tablet  786*/
@media (max-width: 1200px) {
  .brand-wrap {
    min-height: 360px;
    background-size: 50%;
    background-position: 0 50%;
  }
  .brand-litle {
    background-size: 50%;
  }
}
/* mabile */
@media (max-width: 797px) {
  .preview_photo {
    width: 374px;
    height: 454px;
  }
  .brand-wrap {
    background: transparent;
  }
  .brand-title {
    width: 236px;
    height: 66px;
    font-weight: 900;
    font-size: 34px;
  }
  .brand-text {
    font-weight: 900;
    font-size: 16px;
  }
  .brand-decor {
    font-weight: 900;
    font-size: 16px;
    line-height: 36px;
  }
}
.breadcrumbs {
  width: 1140px;
  height: 148px;
  background: #F8F3F4;
  display: flex;
  justify-content: space-between;
}

.page_title_name {
  color: #EF5B70;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
}

.breadcrumbs-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
  align-items: center;
}

.breadcrumbs-item::before {
  content: "/";
  margin-right: 10px;
  color: #636363;
}

.breadcrumbs-item:first-child::before {
  display: none;
}

.breadcrumbs-link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
  transition: 0.2s;
}

.breadcrumbs-link--current {
  font-weight: bold;
  color: #EF5B70;
}

.breadcrumbs-link[href]:hover {
  text-decoration: underline;
  color: #EF5B70;
}

/* tablet 768 */
@media (max-width: 1200px) {
  .page_title {
    width: 768px;
  }
  .page_title_wrap {
    width: 768px;
  }
  .breadcrumbs {
    width: 768px;
  }
  .filter-block {
    width: 768px;
    align-items: center;
    justify-content: center;
  }
}
/* mabile */
@media (max-width: 797px) {
  .page_title {
    width: 360px;
  }
  .breadcrumbs {
    width: 360px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .page_title_name {
    margin-bottom: 32px;
  }
}
.filter-block {
  display: flex;
  margin: 52px 0 65PX 0;
}

.filter {
  width: 360px;
  display: block;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.filter:hover {
  color: #EF5B70;
  transition: color, 0.3s;
}

.filter-overlay {
  position: absolute;
  z-index: 10;
  background-color: #fff;
  padding: 10px;
  box-sizing: border-box;
  /* box-shadow дает клина на компиляцию SCSS*/
}

.filter-title {
  display: block;
  position: relative;
  padding: 0;
  cursor: pointer;
}

.filter-title svg {
  fill: #000000;
}

.filter-title:hover svg {
  fill: #EF5B70;
  transition: 0.3s;
}

.filter-item {
  width: 360px;
  position: relative;
  margin-bottom: 18px;
}

.filter-name {
  display: block;
  padding: 15px 15px 15px 0;
  border-left: 5px solid #EF5B70;
  border-bottom: 1px solid #EBEBEB;
  color: #6F6E6E;
  text-transform: uppercase;
}

.filter-title::-webkit-details-marker {
  display: none;
}

.filter-name::-webkit-details-marker {
  display: none;
}

.filter-item[open] .filter-name {
  color: #EF5B70;
}

.filter-list {
  padding-left: 0;
  list-style-type: none;
}

.filter-list-button {
  border: none;
  margin-bottom: 10px;
}

.filter-sotr-name {
  color: rgb(135, 129, 129);
}

/* tablet */
@media (max-width: 1200px) {
  .filter-block {
    justify-content: space-between;
  }
  .filter {
    width: 600px;
  }
}
/* mobile */
@media (max-width: 797px) {
  .filter-block {
    width: 360px;
  }
  .filter {
    width: 36px;
    margin-right: 61px;
  }
  .filter svg {
    width: 38px;
    height: 25px;
  }
  .filter-span {
    display: none;
  }
}
.preview {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.preview_photo {
  max-width: 597px;
  max-height: 724px;
}

.prev-or-next {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 47px;
  width: 47px;
  background: rgba(42, 42, 42, 0.15);
}

.prev-or-next svg {
  fill: rgba(0, 0, 0, 0.8666666667);
}

.prev-or-next:hover svg {
  fill: #EF5B70;
}

.category-product {
  display: block;
  color: #EF5B70;
  display: flex;
  justify-content: center;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  margin: 65px 0 12px 0;
}

.product-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rectangl {
  position: absolute;
  left: 540px;
  display: block;
  align-items: center;
  width: 65px;
  height: 3px;
  background-color: red;
}

.tagline {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
  margin: 12px 0 50px 0;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.wert {
  display: flex;
  justify-content: center;
}

.description_product {
  display: flex;
  justify-content: center;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5E5E5E;
  width: 555px;
}

.price_product {
  display: flex;
  justify-content: center;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  margin: 32px 0 130px 0;
  color: #EF5B70;
}

.product_sort {
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.button_add {
  display: flex;
  justify-content: center;
}

.sort {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin: 0 20px 50px 0;
  color: #6F6E6E;
}

.sort svg {
  fill: #6F6E6E;
  margin: 0 20px 0 20px;
}

.button_add {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin: 0 0 65px 0;
  color: #F26376;
  width: 211px;
  border: 1px solid;
  padding: 10px;
}

.sort::-webkit-details-marker {
  display: none;
}

/* mobile */
@media (max-width: 797px) {
  .product_sort {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    justify-content: space-between;
  }
}
.category_group {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.categori-women {
  background: url(/img/Group_women.png) no-repeat;
  height: 260px;
  width: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.categori-men {
  background: url(/img/Group_men.png) no-repeat;
  height: 260px;
  width: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.categori-kids {
  background: url(/img/Group_kids.png) no-repeat;
  height: 260px;
  width: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-acc {
  background: url(/img/accesories.png) no-repeat;
  height: 180px;
  width: 1140px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category_text {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
}

.category_span {
  font-weight: 400;
  font-size: 26px;
  line-height: 26px;
  color: #EF5B70;
}

/* tablet 768 */
@media (max-width: 1200px) {
  .category_group {
    justify-content: space-between;
    gap: 20px;
  }
  .categori-women {
    text-align: center;
    width: 232px;
    height: 167px;
  }
  .categori-men {
    display: flex;
    align-items: center;
    text-align: center;
    width: 232px;
    height: 167px;
  }
  .categori-kids {
    text-align: center;
    width: 232px;
    height: 167px;
  }
  .category-acc {
    text-align: center;
    width: 768px;
  }
}
/* mabile*/
@media (max-width: 797px) {
  .category_group {
    display: flex;
    flex-direction: column;
  }
  .categori-women {
    width: 360px;
    height: 260px;
  }
  .categori-men {
    width: 360px;
    height: 260px;
  }
  .categori-kids {
    width: 360px;
    height: 260px;
  }
  .category-acc {
    width: 360px;
  }
}
.content {
  background: #E5E5E5;
  flex-grow: 1;
}

.content_looc_block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.content_looc {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  width: 360px;
  gap: 30px;
  position: relative;
}

.content-looc-catalog {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  width: 360px;
  gap: 30px;
  position: relative;
}

.content-looc-product {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  width: 360px;
  gap: 30px;
  position: relative;
}

.products-owerlay {
  display: none;
  position: absolute;
  background: rgba(58, 56, 56, 0.86);
  width: 100%;
  height: 420px;
  display: none;
  justify-content: center;
  align-items: center;
}

.content_looc:hover .products-owerlay {
  display: flex;
}

.content-looc-catalog:hover .products-owerlay {
  display: flex;
}

.content-looc-product:hover .products-owerlay {
  display: flex;
}

.btn-add {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}

.btn-add-icon,
.btn-add-text {
  vertical-align: middle;
  display: inline-block;
}

.btn-add-icon {
  margin-right: 10px;
}

.cart-product {
  text-decoration: none;
}

.content_heading {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  text-align: center;
  margin-top: 96px;
  margin-bottom: 6px;
}

.content_p {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #9F9F9F;
  margin-top: 0px;
  margin-bottom: 57px;
}

.heading_mini {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  margin: 15px 0 15px 0;
  text-align: left;
}

.content_text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  width: 306px;
  margin: 0 0 15px 0;
}

.content_sale {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #EF5B70;
  padding: 0 0 50px 0;
}

/* tablet */
@media (max-width: 1200px) {
  .content_looc_block {
    gap: 10px;
  }
  .content-looc-catalog:nth-child(3) {
    display: none;
  }
}
/* tablet */
@media (max-width: 1200px) {
  .content-looc-product:nth-child(3) {
    display: none;
  }
}
.pagination {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.pagination-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 10px;
}

.pagination-item--separator {
  margin: 0 -10px;
  color: grey;
}

.pagination-link {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #b0adae;
  border: none;
}

.pagination-link:hover {
  color: black;
  transition: color 0.3s;
}

.pagination-link svg {
  fill: rgb(0, 0, 0);
}

.pagination-link:hover svg {
  fill: #EF5B70;
}

.pagination-link--active {
  color: #EF5B70;
}

.product_submit {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #EF5B70;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 63px;
  margin-bottom: 95px;
  border: 1px solid #EF5B70;
  padding: 14px 38px;
}
.product_submit:hover {
  background-color: #EF5B70;
  color: #fff;
  transition: background-color 0.3s, color 0.3s;
}

.conteiner {
  width: 300px;
}

.submit_product {
  display: flex;
  justify-content: center;
}

@media (max-width: 797px) {
  .description_product {
    text-align: center;
    width: 360px;
  }
}
.speshial_offer {
  height: 341px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.offer_block {
  display: flex;
  justify-content: space-around;
}

.offer {
  width: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.speshial_offer {
  background-color: #222;
  color: #fff;
}

.offer_img {
  margin-bottom: 20px;
}

.header_offer {
  font-weight: 400;
  font-size: 19.96px;
  line-height: 24px;
  margin-bottom: 20px;
  color: #FBFBFB;
}

.offer_text {
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
}

/* tablet 768 */
@media (max-width: 1200px) {
  .speshial_offer {
    height: 768px;
  }
  .offer_block {
    height: 768px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .offer {
    margin-top: 48px;
  }
}
.subscribe {
  background: url("../img/subscribe_fon.png"), url("../img/subscribe.jpg") no-repeat center;
  background-size: cover;
}

.subscribe_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 448px;
}

.subscibe_left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 360px;
  margin: 0 0 40px 0;
}

.subscribe_right {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 50px;
}

.subscribe_image {
  width: 96px;
  margin: 0 0 40px 0;
}

.subscribe_form_field {
  color: #000000;
  padding: 15px;
  border: none;
  background-color: #e1e1e1;
  border-radius: 10px 0 0 10px;
}

.subscribe_form_field::-moz-placeholder {
  color: #222224;
}

.subscribe_form_field:-ms-input-placeholder {
  color: #222224;
}

.subscribe_form_field::placeholder {
  color: #222224;
}

.subscribe_form_button {
  padding: 15px;
  background-color: #EF5B70;
  color: #fff;
  border-radius: 0 10px 10px 0;
  border: none;
}
.subscribe_form_button:hover {
  color: #EF5B70;
  background-color: #fff;
  transition: background-color 0.3s, color 0.3s;
}

.subscribe_text_right {
  margin: 0 0 25px 0;
}

.subscribe_heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
  text-align: center;
}

.subscribe_text {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
}

/* tablet 768*/
@media (max-width: 1200px) {
  .subscribe_wrap {
    display: flex;
    flex-direction: column;
  }
  .subscibe_left {
    margin-top: 53px;
  }
  .subscribe_right {
    margin-bottom: 140px;
  }
}
/* mobile */
@media (max-width: 780px) {
  .subscribe_wrap {
    display: flex;
    justify-content: center;
  }
}
.footer {
  background-color: #222;
  color: #fff;
}

.footer_block {
  display: flex;
  justify-content: space-between;
}

.footer_text {
  margin: 30px 0;
}

.social_group {
  display: flex;
}

.social_link {
  color: #222;
  background: #fff;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  text-decoration: none;
  margin: 24px 8px 24px 8px;
}
.social_link:hover {
  color: #fff;
  background: #EF5B70;
  transition: background 0.3s, color 0.3s;
}

/* mobile */
@media (max-width: 797px) {
  .footer_block {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
}
.carting-wrap {
  display: flex;
  justify-content: space-around;
}

.looc-cart {
  display: flex;
}

.cart-description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/*.looc-cart {
    width: 390px;
    display: flex;
}
*/
.cart-foto {
  margin-left: -200px;
}

.cart-description {
  display: flex;
  flex-direction: column;
}

.cart-input {
  display: flex;
  flex-direction: column;
}

.registration {
  display: flex;
  justify-content: space-between;
}

.registration-form {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin-top: 40px;
}

.text-form-name {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #090808;
  margin: 0 0 12px 0;
}

.input-form {
  width: 360px;
  height: 45px;
  padding: 0 15px 0 15px;
  margin: 20px 0 20px 0;
  border: 1px solid #A4A4A4;
}

.input-radio {
  margin: 30px 20px 30px 20px;
}

.attention {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  width: 360px;
  margin: 0 0 40px 0;
}

.registration-button {
  display: flex;
  padding: 17px 54px 17px 54px;
  background-color: #EF5B70;
  border: none;
  border-radius: 5px;
  color: #fff;
  margin-bottom: 96px;
}

.join:hover {
  transform: translateX(-20px);
  transition: transform 0.3s;
}

.join:hover:after {
  content: url(/img/strelka.svg);
  margin-left: 20px;
}

.benefits {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #837575;
  width: 652px;
  margin-top: 40px;
}

.benefits-heading {
  display: flex;
  list-style-type: none;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  width: 652px;
  color: #837575;
  margin: 0 0 22px 0;
}

.benefits-text {
  display: flex;
  list-style-type: none;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  width: 652px;
  color: #837575;
  margin: 0 0 20px 0;
}

.benefits-text-list {
  display: flex;
  list-style-type: none;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  width: 652px;
  color: #837575;
  margin: 0 0 16px 0;
}

.benefits-text-list svg {
  fill: black;
  margin: 7px 22px 0 0;
}

/* tablet */
@media (max-width: 1200px) {
  .benefits {
    width: 354px;
  }
  .benefits-heading {
    display: flex;
    list-style-type: none;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    width: 354px;
    color: #837575;
    margin: 0 0 22px 0;
  }
  .benefits-text {
    display: flex;
    list-style-type: none;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    width: 354px;
    color: #837575;
    margin: 0 0 20px 0;
  }
  .benefits-text-list {
    display: flex;
    list-style-type: none;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    width: 354px;
    color: #837575;
    margin: 0 0 16px 0;
  }
}
/* mobile */
@media (max-width: 797px) {
  .registration {
    display: flex;
    flex-direction: column;
  }
}
.filter-sort-block {
  display: flex;
}

.filter-sort-overlay {
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
}

.filter-sotr-name {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #6F6E6E;
  display: block;
  align-items: center;
}

.filter-sotr-name::after {
  content: url(/img/corner.svg);
  margin: 0 10px 0 10px;
}

.filter-sotr-name::-webkit-details-marker {
  display: none;
}

.filter-sort-list {
  position: absolute;
  z-index: 10;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter-sort-button {
  border: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
}

/* mobile */
@media (max-width: 797px) {
  .filter-sotr-name::after {
    content: url(/img/corner.svg);
    margin: 0 8px 0 8px;
  }
}/*# sourceMappingURL=style.css.map */