.breadcrumbs {
    padding: 20px;
    background: #F8F3F4;
    display: flex;
    justify-content: space-between;
}

.breadcrumbs-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.breadcrumbs-item::before {
    content: '/';
    margin-right: 10px;
}

.breadcrumbs-item:first-child::before {
    display: none;
}

.breadcrumbs-link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
    transition: 0.2s;
}

.breadcrumbs-link--current {
    font-weight: bold;
    color: $main-color;
}

.breadcrumbs-link[href]:hover {
    text-decoration: underline;
    color: $main-color;
}