.carting-wrap {
    display: flex;
    justify-content: space-around;
}

.looc-cart {
    display: flex;
}

.cart-description {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

/*.looc-cart {
    width: 390px;
    display: flex;
}
*/
.cart-foto {
    margin-left: -200px
}

.cart-description {
    display: flex;
    flex-direction: column;
}

.cart-input {
    display: flex;
    flex-direction: column;
}