.carting-wrap {
    display: flex;
    justify-content: space-around;
}

.looc-cart {
    display: flex;
}

.cart-description {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

/*.looc-cart {
    width: 390px;
    display: flex;
}
*/
.cart-foto {
    margin-left: -200px
}

.cart-description {
    display: flex;
    flex-direction: column;
}

.cart-input {
    display: flex;
    flex-direction: column;
}

/*.heading-cart {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #222222;
}

.characteristics {
    display: flex;
    flex-direction: column;
}

.description-cart {}

.werty {}

.cart-form {}


.cart-form-block {
    display: flex;
    flex-direction: column;
}

.form-input {}*/