
.category_group {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.categori-women {
    background: url(/img/Group_women.png) no-repeat;
    height: 260px;
    width: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.categori-men {
    background: url(/img/Group_men.png) no-repeat;
    height: 260px;
    width: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.categori-kids{
    background: url(/img/Group_kids.png) no-repeat;
    height: 260px;
    width: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.category-acc {
    background: url(/img/accesories.png) no-repeat;    
    height: 180px;
    width: 1140px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category_text {
    text-align: center;
    font-weight: 400;
        font-size: 16px;
        line-height: 26px;
    color: #FFFFFF;
}

    .category_span {
        font-weight: 400;
        font-size: 26px;
        line-height: 26px;
        color: #EF5B70;
}



    /* tablet 768 */ 
    @media (max-width: 1200px) {
        .category_group {
            justify-content: space-between;
            gap: 20px;
        }
        .categori-women {
            text-align: center;
            width: 232px;
            height: 167px;

        }
        
        .categori-men {
            display: flex;
            align-items: center;
            text-align: center;
            width: 232px;
            height: 167px; 
        }
    
        .categori-kids {
            text-align: center;
            width: 232px;
            height: 167px;   
        }
    
        .category-acc {
            text-align: center;
            width: 750px;
        }
    }
     /* mabile*/
     @media (max-width: 400px) {
        .category_group {
            display: flex;
            flex-direction: column;
        }
        .categori-women {
        width: 360px;
        height: 260px;
        }

        .categori-men {
            width: 360px;
            height: 260px;
        }

        .categori-kids {
            width: 360px;
            height: 260px;
        }
        .category-acc {
            width: 360px;
        }
     }