.header {
    background-color: #222222;
    color: $background-color;
    padding: 19px 0;
}

.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logosvgshka svg {
    fill: green;
}

.logosvg:hover svg {
    fill: rgb(251, 13, 13);
}

.header_right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header_search,
.header_menu {
    background-color: transparent;
    border: none;
    color: inherit;
    display: inline-block;
}

.header_icon {
    background-color: transparent;
    border: none;
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

.header_icon svg {
    fill: #f8f8f8;
}

.header_icon:hover svg {
    fill: $main-color;
    transition: fill 0.3s;

}

.main-nav-box {
    margin: 40px 0 0 0;
}

.main-nav-close {
    border: none;
   margin-right: 30px;
}

.main-nav {
    width: 232px;
    height: 765px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    position: absolute;
    right: 0;
    top: 80px;
    color: #000;
    transition: 0.5s;
}

.main-nav-list {
    margin: 10px;
}

.submenu-list {
    margin: 10px;
}

.submenu-item {
    margin: 10px;
}

.main-nav-title {
    color: rgb(201, 37, 37);
    margin: 90px 0 10px 0;
}

.submenu-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
}

.main-nav-link {
    color: $main-color;
    margin: 10px 0;
}

.main-nav-list, .submenu-list {
    list-style-type: none;
}

.main-nav-link, .submenu-link {
    text-decoration: none;
}

.main-nav-close {
    display: none;
}

/* tablet */

@media  (max-width: 1200px) {
    .wrap {
        width: 768px;
    }
}

/* mobile */
