.speshial_offer {
    height: 341px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.offer_block {
    display: flex;
    justify-content: space-around;
}

.offer {
    width: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.speshial_offer {
    background-color: #222;
    color: $background-color;
}

.offer_img {
    margin-bottom: 20px;
}

.header_offer {
    font-weight: 400;
    font-size: 19.96px;
    line-height: 24px;
    margin-bottom: 20px;
    color: #FBFBFB;
}

.offer_text {
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
}

/* tablet 768 */
@media (max-width: 1200px) {
    .speshial_offer {
        height: 768px;
    }
    
.offer_block {
    height: 768px;
flex-direction: column;
align-items: center;
justify-content: center;
    }

    .offer {
        margin-top: 48px;
    }
}