.registration {
    display: flex;
    justify-content: space-between;
}

.registration-form {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.text-form-name {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #090808;
    margin: 0 0 12px 0;
}

.input-form {
    width: 360px;
    height: 45px;
    padding: 0 0 0 15px;
    margin: 20px 0 20px 0;
    border: 1px solid #A4A4A4;
}

.input-radio {
    margin: 30px 20px 30px 20px;
}

.attention {
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #B1B1B1;
    width: 360px;
    margin: 0 0 40px 0;
}

.registration-button {
    padding: 17px 54px 17px 54px;
    background-color: $main-color;
    border: none;
    border-radius: 5px;
    color: $background-color;
}





.benefits {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #837575;
    width: 652px;
}

.benefits-heading {
    display: flex;
    list-style-type: none;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    width: 652px;
    color: #837575;
    margin: 0 0 22px 0;
}

.benefits-text {
    display: flex;
    list-style-type: none;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    width: 652px;
    color: #837575;
    margin: 0 0 20px 0;

}

.benefits-text-list {
    display: flex;
    list-style-type: none;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    width: 652px;
    color: #837575;
    margin: 0 0 16px 0;
}

.benefits-text-list svg {
    fill: black;
    margin: 7px 22px 0 0;

}